<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/layout.css">
  </head>

  <body>
    <div id="header">
      <div id="header_content">
        <div class="image_header">
          <img src="/launch_academy_logo.png" alt="Launch Academy Logo" />
          <span>Launch Quotes
          </span>
        </div>
      </div>
    </div>
    <div id="master_container">
      <%= yield %>
    </div>
  </body>
</html>
