<!DOCTYPE html>
<html>
  <head>
    <title>Splat Me</title>
  </head>

  <body>

    <div class="splat">
      <%= quote %>
    </div>
    <br>
    <div class="redirect"><a href="/quoteme">Give some motivation</a>
    </div>
  </body>
</html>
