

<div id="quote">
  <% quote_list.each do |quote_hash| %>
    <% quote_hash.each do |key, quote| %>
      <%= quote %><br><br>
    <% end %>
  <% end %>

</div>
<br>
<div class="redirect"><a href="/quoteme">Give some motivation</a>
</div>
